*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainContainer{
    height: 100vh;
    display: flex;
    width: 100vw;
}
.leftContainer{
    flex-basis: 60%;
    /* background-color:aliceblue; */
}
.rightContainer{
    flex-basis: 40%;
    /* background-color: antiquewhite; */
}
.imgContainer{
    text-align: center;
    padding: 30px 0px;
}
.player{
    text-align: center;
    padding-top: 30px;
}